Flask
Flask-Bootstrap
Flask-CKEditor
Flask-Gravatar
Flask-Login
Flask-SQLAlchemy
Flask-WTF
Jinja2
MarkupSafe
SQLAlchemy
WTForms
Werkzeug
blinker
certifi
chardet
charset-normalizer
click
dominate
greenlet
gunicorn
idna
itsdangerous
pip
requests
setuptools
typing-extensions
urllib3
visitor
wheel